RewriteEngine On

# Redirect to custom 404 page for non-existing pages
ErrorDocument 404 /404.php

# Rewrite rules for various pages
RewriteRule ^latest-updates$ all-latest-updates.php [L]
RewriteRule ^search-notice$ search-notice.php [L]

RewriteRule ^([a-zA-Z0-9_-]+)$ listing.php?slug=$1 [L]

# College related routes
RewriteRule ^college/([a-zA-Z0-9_-]+)$ college.php?slug=$1 [L]
RewriteRule ^college/([a-zA-Z0-9_-]+)/notice$ notice.php?slug=$1 [L]
RewriteRule ^college/([a-zA-Z0-9_-]+)/meritlist$ college_meritlist.php?slug=$1 [L]
RewriteRule ^college/([a-zA-Z0-9_-]+)/courses$ courses.php?slug=$1 [L]
RewriteRule ^college/([a-zA-Z0-9_-]+)/contact$ college_contact.php?slug=$1 [L]

# University related routes
RewriteRule ^university/([a-zA-Z0-9_-]+)/meritlist$ university_meritlist.php?slug=$1 [L]
RewriteRule ^university/([a-zA-Z0-9_-]+)/contact$ university_contact.php?slug=$1 [L]
RewriteRule ^university/([a-zA-Z0-9_-]+)/notice$ notice_university.php?slug=$1 [L]
RewriteRule ^university/([a-zA-Z0-9_-]+)$ university.php?slug=$1 [L]

# Exam related routes
RewriteRule ^exams/([a-zA-Z0-9_-]+)/notice$ notice_exam.php?slug=$1 [L]
RewriteRule ^exams/([a-zA-Z0-9_-]+)$ exams.php?slug=$1 [L]

# General notice routes
RewriteRule ^notice/college/([a-zA-Z0-9_-]+)$ notice-detail-college.php?slug=$1 [L]
RewriteRule ^notice/university/([a-zA-Z0-9_-]+)$ notice-detail-university.php?slug=$1 [L]
RewriteRule ^notice/exam/([a-zA-Z0-9_-]+)$ notice-detail-exam.php?slug=$1 [L]

# Course detail routes
RewriteRule ^course/([a-zA-Z0-9_-]+)$ course-detail.php?slug=$1 [L]

# Page detail routes
RewriteRule ^pages/college/([a-zA-Z0-9_-]+)$ page-detail-college.php?slug=$1 [L]
RewriteRule ^pages/university/([a-zA-Z0-9_-]+)$ page-detail-university.php?slug=$1 [L]
RewriteRule ^pages/exam/([a-zA-Z0-9_-]+)$ page-detail-exam.php?slug=$1 [L]

# Uncomment below if you want to handle PHP files without specifying .php
# RewriteRule ^([^\.]+)$ $1.php [NC,L]
# RewriteRule ^(.*)$ index.php/$1 [L]
